<div class= "a-name">
<h1><em><font color="white">Log in</font><em></h1>
<h3 style="color:red;background-color:rgba(206, 184, 110, 0.6);
width: 350px;padding-right: 10px;">Please submit valid name and password.</h3>
<%= form_for(:user) do |f|%>
    <%= f.label :name , class: "a-primary"%>
    <%= f.text_field :name %>
    </br></br>
    <%= f.label :password , class: "a-primary"%>
    <%= f.password_field :password %>
    </br>  </br>
    <%= f.submit "Log In" %>
<% end %>
</div>