<h1><em><font color="white">Log in</font><em></h1>

<%= form_for(:user) do |f|%>
    <%= f.label :name , class: "a-primary"%>
    <%= f.text_field :name %>
    </br>
    <%= f.label :password , class: "a-primary"%>
    <%= f.password_field :password %>
    </br>  </br>
    <%= f.submit "Log In" %>
  <% end %>