<div>

<% if @pizza.user == current_user %>

<%= render 'show' %>

<% else %>
<div class= "a-six">
  <p class= "a-name2"><em><%= @pizza.name %><em></p>
  <h2 class= "a-show" >All Ingredients: </h2>
<ul>
  <% @pizza.meats.each do |meat| %>
      <li class= "a-name1"><%= meat.name %></li>
  <% end %>
</ul>
  
<ul>
  <% @pizza.cheeses.each do |cheese| %>
      <li class= "a-name1"><%= cheese.name %></li>
  <% end %>
</ul>
  
<ul>
  <% @pizza.toppings.each do |topping| %>
      <li class= "a-name1"><%= topping.name %></li>
  <% end %>
</ul>
  
<ul>
  <% @pizza.dips.each do |dip| %>
      <li class= "a-name1"><%= dip.name %></li>
  <% end %>
</ul>
    <h4 class= "a-show" >Pizza stars: *<%= @pizza.rating.stars %></h4>
    <h4 class= "a-show" >Pizza comment: <%= @pizza.rating.comment %></h4>
  <% end %>
</div>
